body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #4682b4;
  color: white;
  padding: 10px;
  text-align: center; /* Centraliza o conteúdo do header e footer */
  position: relative; /* Permite uso de position: absolute nos filhos */
}

main {
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  max-width: 100ch;
  margin: 0 auto;
}

#search-form {
  display: flex;
  justify-content: center;
}

#search-container {
  position: relative;
  width: 50%;
}

#pesquisa {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Padding adjusted for button space */
  border-radius: 5px;
  border: 0;
}

#busca {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em; /* Adjust size as needed */
  color: #4682b4; /* Change color as needed */
}

#filter-icon-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

#filter-count {
  margin-left: 5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.9em;
}

dialog {
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#filter-form {
  display: flex;
  flex-direction: column;
}

#filter-form label {
  margin-top: 10px;
}

#apply-filters {
  margin-top: 20px;
}

#close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}


#noticias-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noticia {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}